@font-face {
  font-family: 'OPPOSans R';
  src: url('../fonts/subset-OPPOSans-R.eot');
  src: url('../fonts/subset-OPPOSans-R.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-OPPOSans-R.woff2') format('woff2'),
  url('../fonts/subset-OPPOSans-R.woff') format('woff'),
  url('../fonts/subset-OPPOSans-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OPPOSans B';
  src: url('../fonts/subset-OPPOSans-B.eot');
  src: url('../fonts/subset-OPPOSans-B.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-OPPOSans-B.woff2') format('woff2'),
  url('../fonts/subset-OPPOSans-B.woff') format('woff'),
  url('../fonts/subset-OPPOSans-B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe Print';
  src: url('../fonts/SegoePrint.eot');
  src: url('../fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SegoePrint.woff2') format('woff2'),
  url('../fonts/SegoePrint.woff') format('woff'),
  url('../fonts/SegoePrint.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
