@import "vars";
@import "fonts";
@import "quiz";
@import "~rfs/scss";

body{
  * {
    scroll-behavior: smooth;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-duration: 0.5s;
    @include font-oppo-normal;
    &:focus {
      box-shadow: none !important;
    }
  }

  a {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }

  header {
    height: 8vh;
    nav {
      div {
        #menu-button {
          display: none;
          @media screen and (max-width: 992px) {
            display: block;
          }
        }
      }
      li {
        a {
          @include font-oppo-bold;
          color: #000 !important;
          font-size: 12px;
          @media screen and (min-width: 2300px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  
  #mobile-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 11;
    a {
      @include font-oppo-bold;
      color: #000 !important;
      font-size: 21px;
      img {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }
    }
    li {
      padding-bottom: .5rem;
    }
  }

  #main {
    height: 82vh;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 320px) {
      height: 80vh;
    }
    .container {
      overflow: hidden;
      div {
        div {
          z-index: 9;
          h1 {
            animation-delay: 1s;
            @include font-caveat-normal;
            font-size: 62px;
            line-height: 78px;
            @media screen and (min-width: 2300px) {
              font-size: 92px;
              line-height: 118px;
            }
            @media screen and (max-width: 992px){
              font-size: 60px;
              line-height: 60px;
            }
            @media screen and (max-width: 768px) and (orientation: landscape) {
              font-size: 50px;
              line-height: 40px;
            }
            @media screen and (max-width: 576px) and (orientation: portrait){
              font-size: 40px;
              line-height: 50px;
            }
            @media screen and (max-width: 415px) {
              font-size: 30px;
              line-height: 35px;
            }
            @media screen and (max-width: 320px) {
              font-size: 20px;
            }
          }
          p.lead {
            animation-delay: 1.2s;
            font-size: 18px;
            line-height: 27px;
            @media screen and (min-width: 2300px) {
              font-size: 24px;
              line-height: 38px;
            }
            @media screen and (max-width: 992px) {
              padding-right: 8rem;
              padding-left: 8rem;
            }
            @media screen and (max-width: 768px) {
              padding-right: 20vw;
              padding-left: 20vw;
            }
            @media screen and (max-width: 768px) and (orientation: landscape) {
              padding-left: 3vw;
              padding-right: 3vw;
              font-size: 12px;
              line-height: 18px;
            }
            @media screen and (max-width: 576px) and (orientation: portrait) {
              padding-right: 15vw;
              padding-left: 15vw;
            }
            @media screen and (max-width: 415px) {
              font-size: 15px;
              line-height: 20px;
            }
            @media screen and (max-width: 375px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
          button {
            animation-delay: 1.4s;
            z-index: 9;
            @media screen and (min-width: 2300px) {
              font-size: 24px;
              padding: 1rem 3rem;
              border-radius: 6px;
            }
            @media screen and (max-width: 992px) {
              font-size: 14px;
            }
            @media screen and (max-width: 768px) {
              margin-top: 3rem !important;
            }
            @media screen and (max-width: 768px) and (orientation: landscape) {
              margin-top: 0 !important;
            }
            @media screen and (max-width: 576px) and (orientation: portrait) {
              margin-top: 1.5rem !important;
            }
            @media screen and (max-width: 415px) {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
    #pink-girl {
      position: absolute;
      left: -40px;
      height: 80vh;
      top: 0;
      animation-delay: 1s;
      @media screen and (max-width: 768px) {
        top: -6rem !important;
      }
      @media screen and (max-width: 576px) and (orientation: portrait) {
        top: 0rem !important;
      }
      img:nth-child(1){
        width: 50vw;
        transition: unset;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          top: -25vh !important;
        }
        @media screen and (max-width: 992px) {
          width: 70vw;
        }
        @media screen and (max-width: 768px) {
          width: 50vw;
          top: -8rem !important;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          width: 40vw;
          top: 20vh !important;
        }
        @media screen and (max-width: 320px) {
          top: -5rem !important;
        }
      }
      img:nth-child(2) {
        position: absolute;
        width: 25vw;
        transition: unset;
        @media screen and (max-width: 992px) {
          width: 28vw;
        }
        @media screen and (max-width: 768px) {
          top: 6rem !important;
        }
          @media screen and (max-width: 768px) and (orientation: landscape) {
            width: 25vw;
          }
        @media screen and (max-width: 576px) and (orientation: portrait) {
          top: 6rem !important;
        }
      }
    }
    #green-boy {
      position: absolute;
      right: -40px;
      height: 80vh;
      top: 0;
      animation-delay: 1s;
      @media screen and (max-width: 768px) {
        top: -6rem !important;
      }
      @media screen and (max-width: 576px) and (orientation: portrait) {
        top: 0rem !important;
      }
      img:nth-child(1){
        width: 50vw;
        transition: unset;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          top: -25vh !important;
        }
        @media screen and (max-width: 992px) {
          width: 70vw;
        }
        @media screen and (max-width: 768px) {
          width: 50vw;
          top: -8rem !important;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          width: 40vw;
          top: 20vh !important;
        }
        @media screen and (max-width: 320px) {
          top: -5rem !important;
        }
      }
      img:nth-child(2) {
        position: absolute;
        right: 0;
        left: unset !important;
        width: 30vw;
        transition: unset;
        @media screen and (max-width: 992px) {
          width: 35vw;
          transform: translateY(4vw);
        }
        @media screen and (max-width: 768px) {
          top: 6rem !important;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          width: 30vw;
        }
      }
    }
    #oppo-pro {
      position: absolute;
      left: 25%;
      bottom: 4vh;
      z-index: 2;
      animation-delay: 2s;
      img {
        width: 35vw;
        transition: unset;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          width: 70vw;
          left: -30vw !important;
          top: -15vh !important;
        }
        @media screen and (max-width: 1050px) and (max-height: 768px) and (orientation: landscape) {
          left: -10vw !important;
          top: -5vh !important;
        }
        @media screen and (max-width: 992px) {
          width: 40vw;
          transform: translateX(-5vw);
        }
        @media screen and (max-width: 768px) {
          width: 70vw;
          top: -5vh !important;
          left: -30vw !important;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          width: 35vw;
          top: -3vh !important;
          left: -8vw !important;
        }
        @media screen and (max-width: 576px) and (orientation: portrait) {
          left: -25vw !important;
          top: -15vh !important;
        }
        @media screen and (max-width: 320px) {
          width: 65vw;
          top: -3.5rem !important;
        }
      }
    }
    #oppo-lite {
      position: absolute;
      right: 23%;
      bottom: 5vh;
      z-index: 2;
      animation-delay: 2s;
      img {
        width: 35vw;
        transition: unset;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          width: 70vw;
          left: 25vw !important;
          top: -10vh !important;
        }
        @media screen and (max-width: 1050px) and (orientation: landscape) {
          top: -8vh !important;
        }
        @media screen and (max-width: 992px) {
          width: 40vw;
          transform: translateX(2vw);
        }
        @media screen and (max-width: 768px) {
          width: 60vw;
          top: -10vh !important;
          left: 20vw !important;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          width: 35vw;
          top: 0 !important;
          left: 5vw !important;
        }
        @media screen and (max-width: 576px) and (orientation: portrait) {
          width: 70vw;
          left: 25vw !important;
          top: -15vh !important;
        }
        @media screen and (max-width: 320px) {
          top: -4rem !important;
          width: 60vw;
        }
        @media screen and (max-width: 320px) {
          width: 65vw;
          top: -3.5rem !important;
        }
      }
    }
    #oppo-sign {
      position: absolute;
      bottom: 2rem;
      animation-delay: 1s;
      width: 50vw;
      @media screen and (max-width: 1100px) and (orientation: portrait) {
        width: 70vw;
        bottom: 20vh;
      }
      @media screen and (max-width: 768px) {
        width: 65vw;
        bottom: 14vh;
      }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        width: 25vw;
      }
      @media screen and (max-width: 576px) and (orientation: portrait) {
        width: 80vw;
        bottom: 25vh;
      }
    }
    #oppo-gift {
      position: absolute;
      bottom: .5rem;
      z-index: 9;
      @media screen and (max-width: 576px) and (orientation: portrait) {
        bottom: 3vh;
      }
      @media screen and (max-width: 320px) {
        bottom: 4vh;
      }
      #bg-gift {
        width: 23vw;
        position: absolute;
        border-radius: 0 16px 16px 0;
        background-color: $green;
        bottom: 2rem;
        left: -2rem;
        z-index: -1;
        height: 8vh;
        box-shadow: -11px 9px #e5e5e5;
        animation-delay: 2.5s;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          width: 50vw;
        }
        @media screen and (max-width: 1050px) and (max-height: 768px) and (orientation: landscape) {
          width: 25vw;
          top: 1.2rem;
        }
        @media screen and (max-width: 992px) {
          width: 28vw;
        }
        @media screen and (max-width: 768px) {
          width: 40vw;
          height: 4rem;
          top: 2.2rem;
        }
        @media screen and (max-width: 576px) and (orientation: portrait) {
          width: 80vw;
          height: 10vh;
        }
        @media screen and (max-width: 375px) {
          width: 90vw;
        }
        @media screen and (max-width: 320px) {
          width: 70vw;
          height: 8vh;
        }
        a {
          padding-left: 15vw;
          font-size: 16px;
          @media screen and (min-width: 2300px) {
            font-size: 24px;
          }
          @media screen and (max-width: 1100px) and (orientation: portrait) {
            padding-left: 30vw;
            font-size: 24px;
          }
          @media screen and (max-width: 1050px) and (orientation: landscape) {
            padding-left: 15vw;
            font-size: 14px;
          }
          @media screen and (max-width: 992px) {
            font-size: 12px;
          }
          @media screen and (max-width: 768px) {
            padding-left: 25vw;
          }
          @media screen and (max-width: 576px) and (orientation: portrait) {
            padding-left: 50vw;
            font-size: 16px;
          }
          @media screen and (max-width: 375px) {
            font-size: 16px;
          }
          @media screen and (max-width: 320px) {
            padding-left: 40vw;
            font-size: 12px;
          }
        }
      }
      img {
        animation-delay: 2s;
        width: 13vw;
        @media screen and (max-width: 1100px) and (orientation: portrait) {
          width: 30vw;
        }
        @media screen and (max-width: 1050px) and (orientation: landscape) {
          width: 12vw;
        }
        @media screen and (max-width: 992px) {
          width: 12vw;
        }
        @media screen and (max-width: 768px) {
          width: 20vw;
        }
        @media screen and (max-width: 576px) and (orientation: portrait) {
          width: 40vw;
        }
        @media screen and (max-width: 320px) {
          width: 35vw;
        }
      }
    }
  }

  #content {
    #partners {
      height: 10vh;
      background: linear-gradient(180deg, rgba(173, 186, 205, 0.5)  6.25%, rgba(212, 223, 239, 0) 100%);
      div {
        div {
          @media screen and (max-width: 568px) {
            display: block !important;
            text-align: center;
          }
          img {
            @media screen and (max-width: 992px) {
              width: 4.5rem;
              object-fit: contain;
            }
            @media screen and (max-width: 568px) {
              padding-top: 1rem;
              padding-left: .5rem;
            }
            @media screen and (max-width: 375px) {
              padding-top: .5rem;
            }
            @media screen and (max-width: 320px) {
              width: 3.54rem;
            }
          }
        }
      }
    }
  }

  .btn {
    background-color: $green !important;
    color: #fff !important;
    border-color: $green;
    min-width: 150px;

    &:hover {
      @extend .btn;
    }
    &:active {
      @extend .btn;
    }
  }

}


