@import "vars";
@import "fonts.scss";

body{
  * {
    scroll-behavior: smooth;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    @include font-oppo-normal;
    &:focus {
      box-shadow: none !important;
    }
  }

  a {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }

  header {
    height: 8vh;
    nav {
      li {
        a {
          @include font-oppo-bold;
          font-size: 12px;
          color: #000 !important;
        }
      }
    }
  }

  #main {
    height: 82vh;
    position: relative;
    overflow: hidden;
    .container {
      overflow: hidden;
      div {
        div {
          h1 {
            animation-delay: 1s;
            @include font-caveat-normal;
            font-size: 62px;
            line-height: 78px;
          }
          p.lead {
            animation-delay: 1.2s;
            font-size: 18px;
            line-height: 27px;
          }
          button {
            animation-delay: 1.4s;
          }
        }
      }
    }
    #oppo-sign {
      position: absolute;
      bottom: 2rem;
      animation-delay: 1s;
    }
    #oppo-gift {
      position: absolute;
      bottom: 2rem;
      img {
        animation-delay: 2s;
      }
    }
  }

  #content {
    #partners {
      height: 10vh;
      background: linear-gradient(180deg, rgba(173, 186, 205, 0.5)  6.25%, rgba(212, 223, 239, 0) 100%);
    }
  }

  .btn {
    background-color: $green !important;
    color: #fff !important;
    border-color: $green;
    min-width: 150px;

    &:hover {
      @extend .btn;
    }
    &:active {
      @extend .btn;
    }
  }

}


