#quizModal {
  .modal-dialog {
    min-width: 90vw ;
    min-height: 90vh;
  }
  .modal-content {
    min-height: 90vh;
    border: none;
    border-radius: 0;
    background-image: url("../../src/img/bg-quiz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media screen and (max-width: 768px) {
      padding: 0;
      background-image: url("../../src/img/bg-quiz-mobile.png");
    }
    button.close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .container {
    }
  }
}

#welcomeScreen {
  p.lead {
    color: $green;
    font-size: 21px;
    line-height: 31px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 150%;
    }
  }
  p:nth-child(2) {
    @media screen and (max-width: 768px) {
      width: 90% !important;
    }
  }
}

#questionsScreen {
  width: 70% !important;
  @media screen and (max-width: 768px) {
    width: 90% !important;
    padding: 0 !important;
  }
  .question-block {
    p.lead {
      color: $green;
      font-size: 21px;
      line-height: 31px;
      font-weight: bold;
    }
    p:nth-child(2) {
      padding-bottom: 0 !important;
      font-size: 13px;
    }
    .col-6 {
      @media screen and (max-width: 768px) {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      @media screen and (max-width: 768px) {
        height: 150px;
      }
      @media screen and (max-width: 568px) {
        height: 100px;
      }
    }
    a {
      color: #000;
      &:hover p {
        color: $green;
      }
      .case {
        padding: 5px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        transition: unset;
        @media screen and (max-width: 768px) {
          padding: 3px;
        }
        * {
          transition: unset;
        }
        p {
          @media screen and (max-width: 568px) {
            font-size: 14px;
          }
        }
        .py-3 {
          @media screen and (max-width: 568px) {
            padding: 0 !important;
          }
        }
        &:hover {
          color: $green;
        }
        &.selected {
          border-color: $green;
          color: $green;
          &::after {
            content: url("../img/done-quiz.svg");
            position: absolute;
            left: 30px;
            bottom: 11px;
            @media screen and (max-width: 768px){
              top: 7px;
              left: 15px;
            }
          }
        }
      }
    }
    .btn {
      font-weight: bold;
      @media screen and (max-width: 568px) {
        min-width: 100%;
      }
    }
    #button-back {
      background-color: transparent !important;
      color: $green !important;
    }
  }
  div {
    p {
      span {
        color: $green;
      }
    }
  }
}

#finalScreen {
  @media screen and (max-width: 768px) {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }
  #result-card {
    background-color: #fff;
    padding: 5px;
    #result-image {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    #result-header {
      position: absolute;
      top: 1rem;
      right: 0;
      background-color: $green;
      width: 60%;
      text-align: right;
      border-radius: 5px 0 0 5px;
      h4 {
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 10px !important;
      }
    }
    #result-second-part {
      @media screen and (max-width: 420px) {
        padding: 0 1rem !important;
        display: block !important;
        h5 {
          font-size: 14px;
          line-height: 16px;
        }
        p {
          font-size: 12px;
        }
        ul {

        }
        li {
          font-size: 12px;
        }
        #result-share {
          img {
            width: 25px;
          }
        }
        .btn {
          margin-top: 1rem;
          font-size: 12px;
        }
      }
    }
    #result-subheader {
      font-size: 16px;
    }
    #result-description {
      font-size: 14px;
    }
    #result-phone-list {
      color: $green;
      font-size: 14px;
      padding-left: 1rem;
    }
    #result-share {

    }
  }
  #result-phone-img {
    width: 40%;
    height: 100%;
    padding-right: 2rem;
    padding-top: 1rem;
    align-self: start;
    object-fit: contain;
  }
  form {
    .form-group {
      width: 40%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      input {
        border-radius: 0;
      }
    }
    small {
      height: 10px;
      text-align: right;
    }
  }
}
