#quizModal {
  .modal-dialog {
    min-width: 90vw ;
    min-height: 90vh;
  }
  .modal-content {
    min-height: 90vh;
    border: none;
    border-radius: 0;
    background-image: url("../../src/img/bg-quiz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    button.close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

#welcomeScreen {
  p.lead {
    color: $green;
    font-size: 21px;
    line-height: 31px;
  }
}

#questionsScreen {
  width: 70% !important;
  .question-block {
    p.lead {
      color: $green;
      font-size: 21px;
      line-height: 31px;
      font-weight: bold;
    }
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    a {
      color: #000;
      &:hover p {
        color: $green;
      }
      .case {
        padding: 5px 5px 5px 5px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        transition: unset;
        * {
          transition: unset;
        }
        &:hover {
          color: $green;
        }
        &.selected {
          border-color: $green;
          color: $green;
          &::after {
            content: url("../img/done-quiz.svg");
            position: absolute;
            left: 30px;
            bottom: 11px;
          }
        }
      }
    }
    .btn {
      font-weight: bold;
    }
    #button-back {
      background-color: transparent !important;
      color: $green !important;
    }
  }
  div {
    p {
      span {
        color: $green;
      }
    }
  }
}

#finalScreen {
  #result-card {
    background-color: #fff;
    padding: 5px;
    #result-image {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    #result-header {
      position: absolute;
      top: 1rem;
      right: 0;
      background-color: $green;
      width: 60%;
      text-align: right;
      border-radius: 5px 0 0 5px;
    }
    #result-subheader {
      font-size: 16px;
    }
    #result-description {
      font-size: 14px;
    }
    #result-share {
      background-color: $green;
      width: 50%;
      border-radius: 5px;
    }
  }
  form {
    .form-group {
      width: 40%;
      input {
        border-radius: 0;
      }
    }
    small {
      height: 10px;
      text-align: right;
    }
  }
}
